<p style="color: green"><%= notice %></p>

<%= form_with url: twitters_path, method: :get do |form|%>
 <%= form.text_field :query_text, placeholder: 'Texto a buscar', value: params[:query_text]%>
 <%= form.submit "Buscar..." %>

<%end%>

<h1>Twitters</h1>

<div id="twitters">
  <% @twitters.each do |twitter| %>
    <%= render twitter %>
    <p>
      <%= link_to "Show this twitter", twitter %>
    </p>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %> 

<%= link_to "New twitter", new_twitter_path %>

